/**/*.elc
/*-secrets.el
/*TAGS*
/.cache
/.dir-locals.el
/.org-id-locations
/.persistent-scratch
/ac-comphist.dat
/amx-items
/auto-save-list
/backups
/bookmarks
/configuration.el
/custom.el
/elpa
/elpy
/emojis
/eshell
/forge-database.sqlite
/hackernews
/junk
/layouts
/meghanada
/network-security.data
/org-clock-save.el
/org-gcal
/places
/projectile*
/quelpa
/recentf
/savehist
/secrets.el
/semanticdb
/sessions
/smex-items
/speed-type
/tramp
/transient
/undo
/url
/var
