/**/*.elc
/.dir-locals.el
/.lsp-session-*
/.org-id-locations
/.persistent-scratch
/.sx
/amx-items
/auto-save-list
/bookmarks
/elpa*
/emojis
/eshell
/file-backups
/forge-database.sqlite
/hackernews
/image-dired
/junk
/network-security.data
/org-clock-save.el
/org-gcal
/package-repository-backups
/persist
/places
/projectile-bookmarks.eld
/projectile.cache
/quelpa
/recentf
/request
/savehist
/semanticdb
/session.*
/sessions
/speed-type
/test-runs
/tramp-auto-save
/tramp-connection-history
/transient
/undo*
/url
/var

/*-secrets.el
/configuration.el
/custom.el
/fast-project-find-file.el
/secrets.el
