[submodule "evil-surround"]
	path = packages/evil-surround
	url = git://github.com/timcharper/evil-surround.git
[submodule "distel"]
	path = packages/distel
	url = git://github.com/massemanet/distel.git
[submodule "packages/undo-tree"]
	path = packages/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "packages/evil-numbers"]
	path = packages/evil-numbers
	url = git://github.com/cofi/evil-numbers.git
