/**/*.elc
/*-secrets.el
/.cache
/.dir-locals.el
/.mc-lists.el
/.org-id-locations
/.persistent-scratch
/.sx
/auto-save-list
/backups
/bookmarks
/configuration.el
/custom.el
/elpa*
/elpy
/emojis
/eshell
/forge-database.sqlite
/hackernews
/image-dired
/junk
/meghanada
# created by eww.
/network-security.data
/org-clock-save.el
/org-gcal
/places
/projectile-bookmarks.eld
/projectile.cache
/quelpa
/recentf
/savehist
/secrets.el
/semanticdb
/sessions
/smex-items
/speed-type
/tramp
/transient
/undo*
/url
/var
